/***********
     Fonts styles 
*****************/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Poppins:wght@400;500;600;700&display=swap');

/*************
     Common styles or utilities 
*************/
*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    max-width: 1240px;
    padding: 0 20px 100px;
}
.headline{
    color: #3a3a3a;
    font-size: 3em;
    font-weight: bold;
    line-height: 1.3em;
}
.summery{
    font-size: 1.2em;
    color: #3a3a3a;
    line-height: 1.5em;
    font-weight: 500;
    padding: 20px 0;
}
img{
    width: 100%;
    max-width: 100%;
}
.btn{
    margin: 20px 0;
}
.btn a{
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    color: whitesmoke;
    background-color: #E02C6D;
    text-decoration: none;
    padding: 12px 30px;
    border-radius: 30px;
    position: relative;
}
.btn-arrow{
    margin-left: 10px;
    font-size: 12px;
}
.btn-arrow::before{
    content: "\f178";
    top: 17px;
    position: absolute;
}

/**************
 Header design 
*******************/
header .container {
    padding:50px 20px 0;
    max-width: 1240px;
    margin: 0 auto;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    color: #3a3a3a;
    font-size: 2em;
    line-height: 1.5em;
}
ul{
    display: flex;
    list-style: none;
}
ul li{
    margin-left: 34px;
}
li:first-child{
    margin-left: 0;
}
li a{
    font-size: 1em;
    font-weight: 600;
    line-height: 1.5;
    text-decoration: none;
    color: #3a3a3a;
}

/**************
     Hero Start 
****************/
.hero-section .container{
    padding-bottom:0;
}
.hero{
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
    justify-items: end;
    align-items: center;
}
.bg-img{
    background: no-repeat url(../images/Circle\ design.svg);
    background-position: center left;
    background-size: contain;
    width: 95%;
    max-width: 100%;
    object-fit: cover;
}

/***************
     Gallery start 
*****************/
.brand{
    max-width: 1110px; 
    padding-top: 50px;

}
.gallery {
    display: flex;
    flex-flow: wrap row;
    gap: 20px 60px;
    justify-content: center;
    align-items: center;
    border-width: 1px 0px;
    border-color: rgb(192, 192, 192);
    border-style:solid ;
    padding: 25px 0;
}

/**************
     Collection start 
********************/

.collections .headline{
    font-size: 2em;
    padding: 0 0 40px;
    text-align: center;
}
.products{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}
.product{
    padding: 15px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}
.product-details{
    padding: 10px 0 10px 5px;
}
.title {
    color: #18191F;
    font-size: 1.4em;
    font-weight: 600;
    line-height: 1.5em;
}
.price {
    color: #18191F;
    font-size: 1.2em;
    font-weight: 400;
    line-height: 1.5;
    padding: 5px 0 0;
}
.ratings {
    font-size: 13px;
    color: #18191F;
    padding: 15px 0 5px;
}
.ratings .filled{
    color: #FB8200;
}
.description {
    color: #787885;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.5em;
    font-family: 'Inter', sans-serif;
}
.collections .btn{
    padding: 30px 0 0;
    text-align: right;
}
.collections a{
    background: none;
    color: #E02C6D;
    text-align: right;
    padding: 0;
}

/**********
     Subscription start 
******************/
.newsletter{
    max-width: 1100px;
}
.subscribe {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: stretch;
    gap: 90px;
}
.subscribe .headline{
    font-size: 1.8em;
}
.subscribe .summery{
   font-size: 1em; 
}

/**********
     Fotter styles 
******************/
footer{
    max-width: 100%;
    background:#0a0826;
    color: whitesmoke;
    text-align: center;
    padding: 40px 10px;
}
footer h2{
    font-size: 1.5em;
}
footer p {
    color: #b6b6b6;
    font-size: 13px;
    padding: 10px 0;
    line-height: 1.5em;
    font-weight: 400;
}
.socials {
    display: grid;
    grid-template-columns: repeat(4,40px);
    align-items: center;
    justify-content: center;
    gap: 16px;
}
.social-icon {
    font-size: 18px;
    width: 2em;
    line-height: 2em;
    background: #E02C6D;
    border-radius: 30px;
    color: #fff;
    box-shadow: 0 0 10px rgba(131, 131, 131, 0.15);
    transition: transform .3s ease-out;
    -webkit-transition: transform .3s ease-out;
}
.social-icon:hover{
    transform: translateY(-8px);
}

/****************
     Css Media query 
*************/
/*************
    
    Mobile Responsive 

***************/
@media only screen and (max-width:688px) {
    .container{
        padding: 0 20px 50px;
    }
    .hero{
	padding-bottom:50px;
        padding-top: 20px;
        min-height: 400px;
    }
    .collections .btn{
        padding-top: 20px;
    }
    header{
        display: none;
    }
    .hero, .products, .subscribe{
        grid-template-columns: repeat(1,1fr);
        justify-content: center;
    }
    .image{
        order: 1;
    }
    .text-content{
        order: 2;
    }
    .headline {
        font-size: 1.8em;
    }
    
    .summery {
        font-size: .8em;
    }
    .title {
        font-size: 1.4em;
    }
    .gallery, .subscribe {
            gap: 30px;
        }
        .collections .btn{
            padding: 10px;
            text-align: center;
        }
        .subscribe .summery {
            font-size: .8em;
        }
        .subscribe .headline{
            font-size: 1.5em;
        }
        footer h2{
            font-size: 1em;
        }
        footer p {
            
            font-size: 10px;
        }
        .socials{
            gap: 5px;
        }
        .social-icon{
            font-size: 14px;
        }
    }
@media only screen and (min-width:689px) and (max-width:991px) {
    .container, .hero{
        padding: 0 10px 50px;
    }
    .logo{
        font-size: 1.5em;
    }
    ul li {
        margin-left: 25px;
    }
    li a{
        font-size: .8em;
    }
    .hero{
        min-height: 350px;
    }
    .collections .btn{
        padding: 10px;
        text-align: left;
    }
    .btn a{
        font-size: 12px;
    }
    .btn-arrow {
        font-size: 10px;
    }
    .btn-arrow::before {
        top: 16px;
    }
    .products{
        grid-template-columns: repeat(2,1fr);
    }
    .collections .btn{
        padding: 10px;
        text-align: left;
    }
    .headline {
        font-size: 1.3em;
    }
    .collections .headline {
        font-size: 1.3em;
        padding: 0 0 30px;
    }
    .summery {
        font-size: .8em;
        padding: 6px 0;
    }
    .gallery{
        gap: 10px 60px;
    }
    .title {
        font-size: 1.2em;
    }
    .price{
        font-size: 1em;
    }
    
    .subscribe {
            gap: 20px;
        }
        .subscribe .summery {
            font-size: .7em;
            padding: 6px 0;
        }
        .subscribe .headline{
            font-size: 1em;
        }
        footer h2{
            font-size: 1em;
        }
        footer p {
            
            font-size: 10px;
        }
        .socials{
            gap: 5px;
        }
        .social-icon{
            font-size: 14px;
        }
}
/* @media only screen and (min-width:703px) and (max-width:991px) {
    .container, .hero{
        padding: 0 15px 50px;
    }
    .hero{
        min-height: 450px;
    }

    .btn a{
        font-size: 12px;
    }
    .btn-arrow {
        font-size: 10px;
    }
    .btn-arrow::before {
        top: 16px;
    }
    .logo{
        font-size: 1.5em;
    }
    ul li {
        margin-left: 25px;
    }
    li a{
        font-size: .8em;
    }
    
    .headline {
        font-size: 2em;
    }
    .summery {
        font-size: .9em;
        padding: 10px 0;
    }
    .gallery{
        gap: 10px 60px;
    }
    .title {
        font-size: 1.2em;
    }
    .price {
        font-size: 1em;
    }
    .description{
        font-size: 12px;
    }
    
    .subscribe {
            gap: 20px;
        }
        .subscribe .summery {
            font-size: .7em;
            padding: 6px 0;
        }
        .subscribe .headline{
            font-size: 1.3em;
        }
} */
